{% extends "layout.html" %}

{% block title %}
    <h1>comments</h1>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><img class="icon" src="static/images/home-page.png" alt="home"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/page"><img class="icon" src="static/images/page.png" alt="page"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/post"><img class="icon" src="static/images/post.png" alt="post"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/login"><img class="icon" src="static/images/login.png" alt="login"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout"><img class="icon" src="static/images/logout.png" alt="logout"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/register"><img class="icon" src="static/images/register.png" alt="register"></a>
            </li>
      </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="post">
{% for post in posts %}
        <div class="head">{{ post['postguy']}}</div>
        <img src="">{{ post['image']}}
        <br>
        <div class="caption">{{ post['caption']}}</div>
        {% endfor %}
        
        <table class="comments">
            <thead>
                <tr>
                    <td><u>  comments <u></td>
                </tr>
            </thead>

            <tbody>
                {% for comment in comments %}
                <tr>
                    <td class="comment">{{ comment['commentguy']}}<b>:<b> "{{ comment['comment']}}"</td>
                </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
                
{% endblock %}